<% if false %>
PatentBat - A web platform for facilitating the third party submissions of prior art under 37 CFR 1.290
Copyright (C) 2012 Michelle M. Koeth

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
<% end %>
<%= form_for(@papp) do |f| %>
  <% if @papp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@papp.errors.count, "error") %> prohibited this papp from being saved:</h2>

      <ul>
      <% @papp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appno %><br />
    <%= f.text_field :appno %>
  </div>
  <div class="field">
    <%= f.label :firstinventorname %><br />
    <%= f.text_field :firstinventorname %>
  </div>
  <div class="field">
    <%= f.label :assignee %><br />
    <%= f.text_field :assignee %>
  </div>
  <div class="field">
    <%= f.label :filingdate %><br />
    <%= f.date_select :filingdate %>
  </div>
  <div class="field">
    <%= f.label :apptype %><br />
    <%= f.text_field :apptype %>
  </div>
  <div class="field">
    <%= f.label :examinername %><br />
    <%= f.text_field :examinername %>
  </div>
  <div class="field">
    <%= f.label :artunit %><br />
    <%= f.text_field :artunit %>
  </div>
  <div class="field">
    <%= f.label :confnumber %><br />
    <%= f.text_field :confnumber %>
  </div>
  <div class="field">
    <%= f.label :classsub %><br />
    <%= f.text_field :classsub %>
  </div>
  <div class="field">
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </div>
  <div class="field">
    <%= f.label :pubdate %><br />
    <%= f.date_select :pubdate %>
  </div>
  <div class="field">
    <%= f.label :firstoadate %><br />
    <%= f.date_select :firstoadate %>
  </div>
  <div class="field">
    <%= f.label :noadate %><br />
    <%= f.date_select :noadate %>
  </div>
  <div class="field">
    <%= f.label :issuedate %><br />
    <%= f.date_select :issuedate %>
  </div>
  <div class="field">
    <%= f.label :currstatus %><br />
    <%= f.text_field :currstatus %>
  </div>
  <div class="field">
    <%= f.label :currstatusdate %><br />
    <%= f.date_select :currstatusdate %>
  </div>
  <div class="field">
    <%= f.label :pubno %><br />
    <%= f.text_field :pubno %>
  </div>
  <div class="field">
    <%= f.label :pubrequest %><br />
    <%= f.check_box :pubrequest %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
