<p id="notice"><%= notice %></p>
<h1>Enter the Recaptcha to get USPTO data</h1>
<img src="<%= @recaptcha_imageURL %>">
<%= form_tag("/postcaptchascrape", :method => "get") do %>
<%= label_tag(:recaptcharesponse, "Enter Response:") %>
  <%= text_field_tag(:recaptcharesponse) %>
  <P>
 <%= label_tag(:appno, "Enter A Patent Application Num to lookup:") %> 
    <%= text_field_tag(:appno) %>
  <P>
    <%= label_tag(:tab, "Pick which info you'd like from PAIR about this Patent App:") %>

  <%= submit_tag("Continue") %>
  <% end %>
<%= link_to 'Back', papps_path %>
