<h1>Patent Applications Published on <%= @date %></h1>
<table border=1 cellpadding=5>
  <tr>
    <th><b>App number:</b></th>
    <th><b>Title:</b></th>
    <th><b>Link:</b></th>
  </tr>
<% @papps.each do | app | %>
<tr>
  <td>
    <%= link_to app.pubno, papp_path(app.id) %>
  </td>
  <td>
    <%= app.title %>
  </td>
  <td>
    <a href="<%=app.linktoapp%>"><%=app.linktoapp%></a>
  </td>
</tr>
<% end %>
</table>

<%= link_to 'Back', papps_path %>
