<p id="notice"><%= notice %></p>

<p>
  <b>Appno:</b>
  <%= @papp.appno %>
</p>

<p>
  <b>Firstinventorname:</b>
  <%= @papp.firstinventorname %>
</p>

<p>
  <b>Assignee:</b>
  <%= @papp.assignee %>
</p>

<p>
  <b>Filingdate:</b>
  <%= @papp.filingdate %>
</p>

<p>
  <b>Apptype:</b>
  <%= @papp.apptype %>
</p>

<p>
  <b>Examinername:</b>
  <%= @papp.examinername %>
</p>

<p>
  <b>Artunit:</b>
  <%= @papp.artunit %>
</p>

<p>
  <b>Confnumber:</b>
  <%= @papp.confnumber %>
</p>

<p>
  <b>Classsub:</b>
  <%= @papp.classsub %>
</p>

<p>
  <b>Published:</b>
  <%= @papp.published %>
</p>

<p>
  <b>Pubdate:</b>
  <%= @papp.pubdate %>
</p>

<p>
  <b>Firstoadate:</b>
  <%= @papp.firstoadate %>
</p>

<p>
  <b>Noadate:</b>
  <%= @papp.noadate %>
</p>

<p>
  <b>Issuedate:</b>
  <%= @papp.issuedate %>
</p>

<p>
  <b>Currstatus:</b>
  <%= @papp.currstatus %>
</p>

<p>
  <b>Currstatusdate:</b>
  <%= @papp.currstatusdate %>
</p>

<p>
  <b>Pubno:</b>
  <%= @papp.pubno %>
</p>

<p>
  <b>Pubrequest:</b>
  <%= @papp.pubrequest %>
</p>

<p>
  <b>Title:</b>
  <%= @papp.title %>
</p>

<p>
  <b>Link:</b>
  <%= @papp.linktoapp %>
</p>
<!-- add in link for Update against USPTO PAIR -->

<%= link_to 'Edit', edit_papp_path(@papp) %> |
<%= link_to 'Back', papps_path %>
