<% if false %>
PatentBat - A web platform for facilitating the third party submissions of prior art under 37 CFR 1.290
Copyright (C) 2012 Michelle M. Koeth

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Appno:</b>
  <%= @papp.appno %>
</p>

<p>
  <b>Firstinventorname:</b>
  <%= @papp.firstinventorname %>
</p>

<p>
  <b>Assignee:</b>
  <%= @papp.assignee %>
</p>

<p>
  <b>Filingdate:</b>
  <%= @papp.filingdate %>
</p>

<p>
  <b>Apptype:</b>
  <%= @papp.apptype %>
</p>

<p>
  <b>Examinername:</b>
  <%= @papp.examinername %>
</p>

<p>
  <b>Artunit:</b>
  <%= @papp.artunit %>
</p>

<p>
  <b>Confnumber:</b>
  <%= @papp.confnumber %>
</p>

<p>
  <b>Classsub:</b>
  <%= @papp.classsub %>
</p>

<p>
  <b>Published:</b>
  <%= @papp.published %>
</p>

<p>
  <b>Pubdate:</b>
  <%= @papp.pubdate %>
</p>

<p>
  <b>Firstoadate:</b>
  <%= @papp.firstoadate %>
</p>

<p>
  <b>Noadate:</b>
  <%= @papp.noadate %>
</p>

<p>
  <b>Issuedate:</b>
  <%= @papp.issuedate %>
</p>

<p>
  <b>Currstatus:</b>
  <%= @papp.currstatus %>
</p>

<p>
  <b>Currstatusdate:</b>
  <%= @papp.currstatusdate %>
</p>

<p>
  <b>Pubno:</b>
  <%= @papp.pubno %>
</p>

<p>
  <b>Pubrequest:</b>
  <%= @papp.pubrequest %>
</p>

<p>
  <b>Title:</b>
  <%= @papp.title %>
</p>

<p>
  <b>Link:</b>
  <%= @papp.linktoapp %>
</p>
<!-- add in link for Update against USPTO PAIR -->

<%= link_to 'Edit', edit_papp_path(@papp) %> |
<%= link_to 'Back', papps_path %>
