<% if false %>
PatentBat - A web platform for facilitating the third party submissions of prior art under 37 CFR 1.290
Copyright (C) 2012 Michelle M. Koeth

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
<% end %>
<h2 style="margin-left: 200px;"> About PatentBat </h2>
<p style="margin-left: 200px;">PatentBat is an online tool which helps people interact with the United States Patent and Trademark Office (USPTO) to improve patent quality.
<p style="margin-left: 200px;"><b>Background:</b> PatentBat is an online tool to help improve patent quality.  Before passage of the America Invents Act (AIA), experts and the general public were practically deterred from submitting &#147;prior art&#148; references to the United States Patent and Trademark Office (USPTO) to help inform the quality of patent examination.  Although patent applications include a list of prior art and patent examiners also seek additional references during the examination process, the patenting process seems to lack due consideration of third party experts who know the technology, the cutting edge research, conference proceedings, obscure journals, prior use/inventions etc.  Before the AIA, third parties&#146; prior art submission might be:
<table style="margin-left: 200px;" border=1 cellpadding=5>
<tr><td><b>Type</b></td><td>Public Protests</td><td>Public use proceeding</td><td>Third-party submission</td></tr>
<tr><td><b>Rule</b></td><td>37 CFR &#167;1.291</td><td>37 CFR &#167;1.292</td><td>37 CFR &#167;1.99 ("Rule 99")</td></tr>
<tr><td><b>Timing</b></td><td>Before publication</td><td>Before publication</td><td>Up to 2 months after publication</td></tr>
<tr><td><b>Cost</b></td><td>No fee</td><td>$1,510</td><td>$180 (changing to $0 for up to three provisions in Sept. 2012)</td></tr>
</table>

<p style="margin-left: 200px;">Under <%= link_to "37 U.S.C. &#167;122".html_safe, "http://www.uspto.gov/web/offices/pac/mpep/documents/appxl_35_U_S_C_122.htm" %>, patent applications are kept confidential and secret to the public until they are published. So how can you submit prior art before then?  Practically speaking, you can&#146;t.  This leaves Rule 99.  However, the fee, timing and inability to highlight or comment on the relevant passages of your submissions made this Rule into an exception.

<P style="margin-left: 200px;"><b>The America Invents Act: </b> In early 2012, the USPTO proposed <%= link_to "a new rule 37 CFR &#167;1.290".html_safe, "https://www.federalregister.gov/articles/2012/01/05/2011-33811/changes-to-implement-the-preissuance-submissions-by-third-parties-provision-of-the-leahy-smith#h-7" %> to allow third party submissions of prior art.  Under the law, the rule will take effect on September 16, 2012 and will allow:
<ul style="margin-left: 200px;"><li>No fee submissions for up to 3 references per application*</li>
<li>References to be submitted for pending applications** too</li>
<li>Submissions the later of six months after publication or the date of the first office action</li>
<li>A required concise description of the relevance of each submission</li>
</ul>
<p style="margin-left: 200px;">* So long as you're not in <%= link_to "privity", "http://dictionary.lp.findlaw.com/scripts/results.pl?co=dictionary.findlaw.com&topic=31/310f117c83da70f2987351c8893ce99d" %> with other submitters.
<p style="margin-left: 200px;">** Including reissues but not reexaminations.
<P style="margin-left: 200px;"><b>The Tools:</b> Now that the door is open to help the USPTO improve the quality of patents or eliminate meritless claims, how to do so easily?  How to find out about applications in your area of expertise?  How to navigate the maze of the patent system?  How to submit prior art in time?  Ask your peers questions or send them notifications about patents that could affect their work?
<P style="margin-left: 200px;"><b>Enter PatentBat:</b> With its upcoming Beta release, PatentBat will search the USPTO public PAIR website (all public information / non-confidential) for pending patent applications, and specifically those that have been published for less than 6 months. It provides easy, clickable links to these patent applications, and saving features so that registered users can "watch" certain applications so that they can return to these watched apps and continue review, or be sent notifications when events in the file wrapper of these applications have been noted within the USPTO system. Aside from basic patent application tracking, PatentBat also holds the potential to serve as a submission tool to facilitate users making electronic submissions of their third party prior art references.
<p style="margin-left: 200px;">PatentBat is developed in Ruby on Rails, and is open source under the terms of the <%= link_to "GNU Affero General Public License, version 3 (AGPLv3)", "http://opensource.org/licenses/AGPL-3.0" %>. The source code for PatentBat is hosted by GitHub at: <%= link_to "https://github.com/jerseycoder/USPTO3PS", "https://github.com/jerseycoder/USPTO3PS" %>.