

<h2>Latest Pitches:</h2>
<table border=1 cellpadding=5>
  <tr>
    <th><b>Plusminus Ranking:</b></th>
    <th><b>App number:</b></th>
    <th><b>Title:</b></th>
    <th><b>Link:</b></th>
    <% if user_signed_in? %><th><b>Your Vote:</b></th><% end %>
  </tr>
<% @papps.sort_by(&:plusminus).reverse.each do | app | %>
<tr>
  <td>
    <%= app.plusminus %>
  </td>
  <td>
    <%= link_to app.pubno, papp_path(app.id) %>
  </td>
  <td>
    <%= app.title %>
  </td>
  <td>
    <a href="<%=app.linktoapp%>"><%=app.linktoapp%></a>
  </td>
  <% if user_signed_in? %>
    <td>
      <% if current_user.voted_on?(Papp.find(app.id)) %>
        <% if current_user.voted_for?(Papp.find(app.id)) %>
          Batter up! Lets take a swing at it!
        <% else %>
          Meh, nothing wrong with it.
        <% end %>
      <% else %>
        <%= link_to('Vote: This seems obvious! Lets take a swing at it!', vote_up_papp_path(app), :method => :post) %>
        <P>
        <%= link_to('Vote: Meh, seems novel and non-obvious.', vote_down_papp_path(app), :method => :post) %>
      <% end %>
    </td>
  <% end %>
</tr>
<% end %>
</table>
