<% if false %>
PatentBat - A web platform for facilitating the third party submissions of prior art under 37 CFR 1.290
Copyright (C) 2012 Michelle M. Koeth

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
<% end %>
<!DOCTYPE html>
<html>
<head>
  <link href="/public/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"> 
  <title>PatentBat - Crowdsourced Patent Quality</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lte IE 7]>
	<script src="js/IE8.js" type="text/javascript"></script><![endif]-->
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/>
<![endif]-->
<%= stylesheet_link_tag("style") %>
</head>
<body>
<header id="banner" class="body">
    <div id="head">
      <div id="menu" style="float:right;margin-right: 125px;">
	<nav><%= link_to("home", :root) %> | <%= link_to("search", :getcaptcha) %> | <%= link_to("latest apps", :currapps) %> | <% if user_signed_in? %><%= link_to "logout", destroy_user_session_path, :method => :delete %><% else %><%= link_to "login", new_user_session_path %><% end %> | <%= link_to("about", :about) %>
	</nav>
	<script language="javascript" type="text/javascript" src="http://quickribbon.com/ribbon/2012/02/3acf0216abef66fcb0fff335763a67d4.js"></script><noscript><a href="http://quickribbon.com/">Quickribbon</a></noscript>
    </div>
      <div id="headtext" style="float: left; margin-left: 200px;">
          <h1>PatentBat</h1>
          <h2 style="margin-top: -50px;">Take a swing for patent quality</h2>
      </div>
          <%= image_tag "Baseball_bat.svg", :style=> "width: 150px; float: left; margin-top: 60px;" %>
    </div>
    <div id="tagline" style="clear:both;">

    </div>
</header><!-- /#banner -->
<article>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
<%= yield %>
</article>
<footer>
</footer>
</body>
</html>
